:root {
  --primary-bckg-color: #ffffff;
  --second-bckd-color: #f5f4fa;
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-action-color: #2196f3;
  --bckg-footer-color: #2f303a;
  --white-color: #ffffff;
  --black-color: #000000;
  --shadow-project: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --soc-icon: #afb1b8;
  --header-icon: #757575;
  --project-overlay: rgba(33, 150, 243, 0.9);
  --modal-background: rgba(0, 0, 0, 0.2);
  --features-info-bckg: rgba(47, 48, 58, 0.8);
  --modal-border: rgba(33, 33, 33, 0.2);
  --subscribe-border-color: rgba(255, 255, 255, 0.3);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}