.footer {
  background-color: var(--bckg-footer-color);
  padding: 60px 0px;
  .container {
    text-align: center;
    align-items: baseline;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      padding-right: 89px;
      padding-left: 76px;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      text-align: inherit;
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 0;
    }
  }
}
.footer-contact {
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.71;
}
.footer-adress,
.footer-contact-link {
  display: inline-block;
}

.footer-contact-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-action-color);
  }
}

.footer-icon {
  display: flex;
}
/* join */

.join-title,
.subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}
.join {
  padding-bottom: 60px;
  @media screen and (min-width: 768px) {
    padding-bottom: 0;
  }
}
.join-list {
  display: flex;
  gap: 10px;
  justify-content: center;

  a {
    text-decoration: none;
    color: var(--white-color);
    background-color: rgba(255, 255, 255, 0.1);
  }
  @media screen and (min-width: 1200px) {
    width: 206px;
  }
}
.join-item {
  @media screen and (min-width: 1200px) {
    width: calc((100% - 30px) / 4);
  }
}
.join-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--primary-action-color);
  }
}

.join-soc-icon,
.subscribe-icon {
  fill: var(--white-color);
}
/* Subscribe */
.subscribe {
  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    width: 570px;
    margin: 0;
  }
}

.subscribe-form {
  background-color: inherit;
  border: 1px solid var(--subscribe-border-color);
  width: 358px;
  height: 50px;
  border-radius: 4px;
  color: var(--white-color);
  padding-left: 16px;
}

.subscribe-button {
  display: flex;
  background-color: var(--primary-action-color);
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-style: none;
  color: var(--white-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  font-weight: 700;
  padding: 10px 28px;
  margin-left: 12px;
  transition-property: color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--black-color);
  }
}

.subscribe-icon {
  margin-left: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .subscribe-button:hover &,
  .subscribe-button:focus & {
    fill: var(--black-color);
  }
}

.subscribe form {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
  justify-content: center;
}
.subscribe-thumb {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}
.subscribe input {
  margin-bottom: 20px;
}
