.header {
  border-bottom: 1px solid #ececec;
  .container {
    align-items: center;
    width: 100%;
    padding: 0 15px 0 15px;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: baseline;
      width: 1200px;
    }
  }
}
.site-nav__item {
  position: relative;
}

.site-nav__link--current {
  display: inline-block;
  color: var(--primary-action-color);
  &::after {
    content: "";
    background-color: var(--primary-action-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.site-nav__link {
  display: block;
  color: var(--primary-title-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-action-color);
    cursor: pointer;
  }
}

.nav-item {
  color: var(--primary-action-color);
}

.contact-list {
}

.contact-list__item:hover,
.contact-list__item:focus {
  color: var(--primary-action-color);
}
.contact-list__icon {
  margin-right: 10px;
  fill: var(--header-icon);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .contact-list__item:hover &,
  .contact-list__item:focus & {
    fill: var(--primary-action-color);
  }
}
.site-nav,
.nav-thumb,
.contact-thumb {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 87px;
    gap: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 50px;
    align-items: baseline;
    margin-left: 92px;
  }
}

.contact-list {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-bottom: 48px;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  > .container {
    height: 100%;
    // display: flex;
    // flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    padding: 0 40px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.menu-button {
  display: block;
  background-color: transparent;
  margin-left: auto;
  border: 0;
  padding: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &.js-close-menu {
    position: absolute;
    top: 20px;
    right: 15px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
  &:hover {
    fill: var(--primary-action-color);
  }
  &:focus {
    fill: var(--primary-action-color);
  }
}
.menu-nav__list {
  margin-bottom: 302px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: black;
  @media screen and (max-width: 479px) {
    font-size: 35px;
  }
}

.menu-contact__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
}
.menu-contact__link {
  &.tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-action-color);
    @media screen and (max-width: 479px) {
      font-size: 26px;
    }
  }
  &.mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
}

.menu-soc__list {
  display: flex;
  flex-direction: row;
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--primary-action-color);
  @media screen and (max-width: 479px) {
    font-size: 12px;
  }
}

.menu-soc__line {
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin: 0 10px;
}
