.hero {
  background-color: var(--bckg-footer-color);
  background-image: var(--bg-shadow), url(../images/hero/mobile-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  text-align: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 60px;
  @include retina {
    background-image: var(--bg-shadow), url(../images/hero/mobile-bg-2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: var(--bg-shadow), url(../images/hero/tablet-bg.jpg);
    padding: 118px 204px;
    @include retina {
      background-image: var(--bg-shadow),
        url(../images/hero/tablet-bg-2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: var(--bg-shadow), url(../images/hero/desktop-bg.jpg);
    padding: 200px 0;
    @include retina {
      background-image: var(--bg-shadow),
        url(../images/hero/desktop-bg-2x.jpg);
    }
  }
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px auto;
  max-width: 696px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 700px;
  }
}
.hero-button {
  background-color: var(--primary-action-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-style: none;
  padding: 10px 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--primary-title-color);
  }
  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
  }
}

.hero .container {
  padding: 0;
  width: 100%;
}
